{% extends 'index.html.twig' %}

{% block postbody %}

    <p>
        &middot;
        {% for y in 2000..date('Y') %}
            <a href="{{ page.link(y) }}.html">{{ y }}</a>&nbsp;&middot;
        {% endfor %}
    </p>

    <ol>

        {% for p in database.query('SELECT * FROM pages WHERE
            date IS NOT NULL
            AND date >= "'~page.metadata.year~'-01-01 00:00:00"
            AND date < "'~page.metadata.year~'-12-31 24:00:00"
            ORDER BY date ASC
            ').fetchAll() %}

            <li>
                {{ date('Y-m-d', strtotime(p.date)) }}:
                <a href="{{ page.link(p.id) }}.html">
                    {{ p.title ?? 'Untitled' }}
                </a>
            </li>

        {% endfor %}

    </ol>

{% endblock %}
