<?xml version="1.0"?>
<rss version="2.0">
    <channel>
        <title>{{ page.metadata.title }} :: {{ site.config.title }}</title>
        {% if page.metadata.description is defined and page.metadata.description %}
            <description>{{ page.metadata.description }}</description>
        {% endif %}
        <link>{{ site.config.url }}{{ page.id }}.html</link>
        <language>en-au</language>

        {% for p in database.query('SELECT p.* FROM pages p, json_each(p.tags) j WHERE "/tags/"||j.value LIKE "'~page.id~'" ORDER BY p.date DESC LIMIT 10') %}

            <item>
                <title>{{ p.title }}</title>
                <link>{{ site.config.url }}{{ p.id }}.html</link>
                <guid isPermaLink="true">{{ site.config.url }}{{ p.id }}.html</guid>
                <pubDate>{{ date('r', strtotime(p.date)) }}</pubDate>
                <description>
                    {{ p.body|md2html }}
                </description>
            </item>

        {% endfor %}

    </channel>
</rss>
